  .dashboard-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background-color: var(--bg-color);
  }

  .dashboard-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: var(--secondary-bg-color);
      box-shadow: var(--box-shadow);
  }

  .dashboard-title {
      margin: 0;
      font-size: 1.5rem;
      color: var(--text-color);
  }

  .tasks-section {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      overflow-y: auto;
  }

  .tasks-container {
      width: 100%;
      max-width: 600px;
      background-color: var(--secondary-bg-color);
      /* border: 1px solid var(--btn-color); */
      border-radius: 12px;
      box-shadow: var(--box-shadow);
      padding: 30px;
  }

  .tasks-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  }

  .tasks-title {
      margin: 0;
      font-size: 1.5rem;
      color: var(--text-color);
      flex-grow: 1;
  }

  .tasks-subtitle {
      margin: 0 15px;
      color: var(--secondary-text-color);
  }

  .tasks-add-icon {
      cursor: pointer;
      transition: transform 0.3s ease;
  }

  .tasks-add-icon:hover {
      transform: rotate(180deg);
  }

  /* Responsive Adjustments */
  @media (max-width: 768px) {
      .tasks-container {
          width: 95%;
          padding: 20px;
      }

      .tasks-header {
          flex-direction: column;
          align-items: flex-start;
      }

      .tasks-subtitle {
          margin: 10px 0;
      }

      .tasks-add-icon {
          margin-top: 10px;
      }
  }